/*
 * SPDX-FileCopyrightText: 2022 Hugo Rodrigues
 *
 * SPDX-License-Identifier: MIT
 */

body {
    background-color: #f0f7f7;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav, footer {
    background-color: #ffffff;
}

nav {
    border-bottom: 1px solid #d8e8d4;
    margin-bottom: 2rem;
}

footer {
    margin-top: auto;
    border-top: 1px solid #d8e8d4;
}

#content {
    margin-bottom: 2rem;
}

header {
    margin-bottom: 2rem;
}

article {
    padding: 1rem 1.25rem;
    position: relative;
    border-radius: 0.2rem;
    border: 1px solid #d8e8e4;
    background-color: #fff;
}

article + article {
    margin-top: 0.5rem;
}

article div h4 {
    margin-top: 0;
}

dl {
    margin-bottom: 1.5rem;
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin: 0 0 1rem 0;
}

.box {
    background-color: #f8f8ff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 0.5em;
}

.up {
    border-left: 0.2rem solid #20bf0b;
}

.down {
    border-left: 0.2rem solid #eb3b5a;
}

.down-active {
    background-color: #ffd0d2;
    border-color: #eb3b5a;
}

.link {
    cursor: pointer;
}

.right {
    float: right;
}

.left {
    float: left;
}

.blocking {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    padding-top: 5em;
    color: #fff;
}

.text-right {
    text-align: right;
}

.tag {
    display: inline-block;
    border-radius: 0.2rem;
    font-size: 70%;
    vertical-align: middle;
    color: #fff;
    padding: 0.33em 0.5rem;
    margin-top: -0.2rem;
    margin-left: 0.5rem;
    border: 0;
}

.tag.up {
    background-color: #20bf0b;
}

.tag.down {
    background-color: #eb3b5a;
}
