#loading .spin {
    display: block;
    margin: 0 auto;
    border-width: 8px;
    width: 100px;
    height: 100px;
    margin-bottom: 2em;
}

#loadingmsg div {
    text-align: center;
    margin: 1em 0;
}
